* {
  background-color: #282c34;
  color: white;
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.d-tree-container {
  width: auto;
  list-style-type: none;
}

.d-tree-node {
  padding: 1vh 2vh;
}
 



.label:hover {
background-color: #353942e8;
}


